    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-inverse navbar-static-top" id="mainnav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span class="fa fa-eye"></span> VisualizeIt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right pull-right main-nav">
            <li><a href="/login"><span class="cd-signin">Sign In</span></a></li>
            <li><a href="/signup"><span class="cd-signup">Sign Up</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/carousel-1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Organize your pics!</h1>
              <p>We know you're busy, let our software help!</p>
              <p><a class="btn btn-lg btn-primary" href="/signup">Sign up!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/carousel-2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Make libraries for everything</h1>
              <p>So you can focus on the pictures that really matter to you!</p>
              <p><a class="btn btn-lg btn-primary" href="#marketing">Learn more!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/carousel-3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bring peace to your camera</h1>
              <p>Zen out while keeping your pictures in check...how will you spend your free memory?</p>
              <p><a class="btn btn-lg btn-primary" href="/login">Sign In!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container"><a name="marketing"></a>
      <!-- Three columns of text below the carousel -->
      <div class="row text-center">
        <div class="col-lg-4">
          <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="Tyler Greg" style="width: 140px; height: 140px;">
          <h2>Tyler Greg - CEO TooManyPics, Inc.</h2>
          <p>Thanks to VisualizeIt, I was able to organize my pictures better and the best part is, I had so much more space on my camera that I was able to pursue my dreams of launching a photography studio. You should check out my portfolio when you get a chance, it'll change your life too, like VisualizeIt changed mine!</p>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/tonystubblebine/128.jpg" alt="Mike McGregor" style="width: 140px; height: 140px;">
          <h2>Mike McGregor - Photographer</h2>
          <p>VisualizeIt changed my life! I've used every single type of image library on the market, but even my super cool hipster iPhone 6 doesn't have an app for that! VisualizeIt is the real deal, use it, and get your pics organized! Whoo-Hoo!!</p>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" alt="Jody Marx" style="width: 140px; height: 140px;">
          <h2>Jody Marx - Professional Picture-Taker</h2>
          <p>I was a waitress. I was never able to take any pictures because my memory was always full! Because of VisualizeIt, I was able to get back to photography, take pictures of Spiderman, become a professional picture-taker for a cool company, and now I'm living the life! VisualizeIt was a lifesaver for me!</p>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">VisualizeIt uses the latest technology! <span class="text-muted">Viewfinder-blowing!</span></h2>
          <p class="lead">Using the latest in web technology, VisualizeIt will easily organize your pictures! VisualizeIt uses artificial intelligence that NASA developed back in the early 2000's but threw it out because it never listened to them. Well, that's the technology driving VisualizeIt! We made the software obey us and now you can too!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://i.stack.imgur.com/c41gB.jpg" alt="Code image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive peeps-pic" src="http://www.volunteerspot.com/imgs/elements/happy-people.png" alt="Happy peeps">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">We're so sure you'll love it that we have a money-back guarantee! Of course our software is free, so we'll just send you a lovely note saying thanks for trying our software, and we're sorry you didn't like it. But really, it's super amazing, you'll love it, you really will, you'll see. Try it for yourself, it's an awesome product.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading nice-heading">And as always, <span class="text-muted">Have Nice Day.</span></h2>
          <p class="lead">This product is backed by actual Russian photographers. Developed by people who do pretty good Russian accents while taking pictures. Loved by people who want to be Russian picture-takers. It's also hosted in, you guessed it, JAPAN! Ok, our product is none of that, but it's still pretty cool! We're not Flickr! We're just a small start up company with limited resources, we're also lucky that you, the professor, are going to give us an A in class because we're awesome like that! W00T! L33T! H4X0RZ!!!1!one!!exclamationpoint!1!!111!!!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://ei.isnooth.com/multimedia/0/7/d/image_2504442_full.jpeg" alt="Russian pic">
        </div>
      </div>
      </div><!-- /.container -->

      <!-- /END THE FEATURETTES -->